<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IChatService"/>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/FreddiChat" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IChatService" contract="ChatServiceReference.IChatService" name="NetNamedPipeBinding_IChatService"/>
        </client>
    </system.serviceModel>
</configuration>
