<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IChatService" />
                <binding name="NetNamedPipeBinding_IChatService1" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/FreddiChat" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IChatService" contract="ChatServiceReference.IChatService"
                name="NetNamedPipeBinding_IChatService" />
            <endpoint address="net.pipe://localhost/FreddiChat" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IChatService1" contract="ChatServiceReference.IChatService"
                name="NetNamedPipeBinding_IChatService1">
                <identity>
                    <userPrincipalName value="nico@cims.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
